{% extends "auctions/layout.html" %}

{% block title %} {listing.name} {% endblock %}

{% block body %}
    <h2> {{ listing.name }} </h2>
    <div class="container">

        <img class="img-thumbnail" src="{{ listing.picture_link }}">

        <p> {{ listing.description }} </p>

        <h5> Auctioneer: <strong>{{ listing.auctioneer }}</strong></h5>

        <h5>Starting Bid: £{{ listing.starting_bid}}</h5>
        <h5>Current Bid: £{{ current_bid_amount }}</h5>
        
        {% if is_highest_bidder %}
            <strong>You are the current highest bidder!<strong>
        {% endif %}
        
        <h5> Auction ends: {{ listing.end_time }}</h5>
        
        {% if is_auctioneer %}
            <p><strong>You are the auctioneer!</strong></p>
            <p><strong>If you want, you can:</strong></p>
            <p><a href="#">End auction now</a></p>
        {% elif user.isAuthenticated %}
            <strong>Enter a bid:</strong>
            {% include "auctions/includes/bid.html" %}
        {% else %}
            Please <a href="{% url 'login' %}">login</a> to place a bid.   
        {% endif %}
    </div>
    
{% endblock%}
