{% extends "auctions/layout.html" %}

{% block title %} {listing.name} {% endblock %}

{% block body %}
    <h2> {{ listing.name }} </h2>
    <div class="container">

        <img class="img-thumbnail" src="{{ listing.picture_link }}">

        <p> {{ listing.description }} </p>

        <h5> Auctioneer: <strong>{{ listing.auctioneer }}</strong></h5>

        <h5>Starting Bid: {{ listing.starting_bid}}</h5>
        <h5>Current Bid: {{ listing.get_current_bid }}</h5>



        <h5> Auction ends: {{ listing.end_time }}</h5>
    </div>
    
{% endblock%}
